detectdata
*.pyc
*.log
*.log.1
*.log.2
*.log.3
*swp
*dat*
*~
weibo_login_cookies.*
weibocrawler/data/
weibo-user-crawler/data/
weibo-user-crawler/logs/
weibo-user-crawler/analysis/
weibocrawler/common_conf_manager.py
weibocrawler/weibosearch.yaml
